.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01px solid;
}

.checkbox-title{
	color: #000;
	font-size: 16px;
}
.form-control{
	background:#fff !important;
	border: 1px solid black !important;
	padding: 30px 20px !important;
	border-radius: 0px !important;
	color: #000 !important;
}
.form-control:focus{
	border: 1px solid #37b6ff !important;
}

.btn-stripe{
	margin-top:10px; 
	background:#008cdd !important;
	padding: 1px !important;
}

.secure-quote{
	float: right;
    color: black;
	font-size: 11px;
}

.payment-quote{
	color:black;
	font-size: 16px;
	font-weight: 700;
}

#step2{
	text-align: center;
}

.step{
	font-size:12px !important;
	margin: 7px !important;
	color: #000 !important;
}
.title{
	margin: 7px !important;
	color: #000 !important;
	font-size: 32px;
	font-weight: bold;
}
.sub-title{
	margin: 7px !important;
	color: #000 !important;
	font-size:18px !important;
}
.auth{
	max-width:480px !important;
}
#btn-next{
	margin-top:6% !important;
	padding: 15px 0px;
	background: #37B6FF;
	color:white;
	font-weight: 500;
	font-size: 24px;
}


.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: #fff;
}

.sign-in{
    align-self: center;

}

.sign-in a{
    color: #000;
    margin-right: 50px;
    font-size: 20px;
	font-weight: 600;
}
.sign-in a:hover{
	color: #000 !important;
	text-decoration: underline;
}
.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}


