@font-face {
    font-family: poppins;
    src: url('/public/assets/webfonts/Poppins-Regular.ttf');
}

.body{
	background-color: #fff !important;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01px solid;
}

.checkbox-title{
	color: #000;
	font-size: 16px;
}
.form-control{
	background:#fff !important;
	border: 1px solid black !important;
	padding: 30px 20px !important;
	border-radius: 0px !important;
	color: #000 !important;
}
.form-control:focus{
	border: 1px solid #37b6ff !important;
}

.card-success h1 {
	color: #88B04B;
	font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 10px;
}
.card-success p {
	color: #404F5E;
	font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	font-size:20px;
	margin: 0;
}
.card-success i {
	color: #9ABC66;
	font-size: 100px;
	line-height: 200px;
	margin-left:-15px;
}
.card-success {
	font-family: poppins;
	background: white;
	padding: 60px;
	border-radius: 4px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.card-success .redirect{
    font-size: 13px;
    margin-top: 30px;
}


.card-failed h1 {
	color: #e64747;
	font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 10px;
}
.card-failed p {
	color: #404F5E;
	font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
	font-size:20px;
	margin: 0;
}
.card-failed i {
	color: #bc6666;
	font-size: 100px;
	line-height: 200px;
	margin-left:-15px;
}
.card-failed {
	font-family: poppins;
	background: white;
	padding: 60px;
	border-radius: 4px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.card-failed .redirect{
    font-size: 13px;
    margin-top: 30px;
}



.btn-stripe{
	margin-top: 10px;
    background: #0070BA !important;
    padding: 6px !important;
    border-radius: 4px !important;
}

.errors{
	background: rgba(255, 0, 0, 0.5);
    border-radius: 7px;
}

.errors li{
	color: white;
    padding: 6px 0px 6px 0px;
}

.secure-quote{
	float: right;
    color: black;
	font-size: 11px;
}

.payment-quote{
	color:black;
	font-size: 16px;
	font-weight: 700;
}

#step2{
	text-align: center;
}

.step{
	font-size:12px !important;
	margin: 7px !important;
	color: #000 !important;
}
.title{
	margin: 7px !important;
	color: #000 !important;
	font-size: 32px;
	font-weight: bold;
}
.sub-title{
	margin: 7px !important;
	color: #000 !important;
	font-size:18px !important;
}
.auth{
	max-width:480px !important;
}
#btn-next{
	margin-top:6% !important;
	padding: 15px 0px;
	background: #37B6FF;
	color:white;
	font-weight: 500;
	font-size: 24px;
}


.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: #fff;
}

.sign-in{
    align-self: center;

}

.sign-in a{
    color: #000;
    margin-right: 50px;
    font-size: 20px;
	font-weight: 600;
}
.sign-in a:hover{
	color: #000 !important;
	text-decoration: underline;
}
.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}


